<div class="row">
    <!-- left profile info section -->
    <div class="col-lg-3 col-12 order-2 order-lg-1">
        <!-- about -->
        <div class="card">
            <div class="card-body">
                <h5 class="mb-75">About</h5>
                <p class="card-text">
                    Tart I love sugar plum I love oat cake. Sweet ⭐️ roll caramels I love jujubes. Topping cake wafer.
                </p>
                <div class="mt-2">
                    <h5 class="mb-75">Joined:</h5>
                    <p class="card-text">November 15, 2015</p>
                </div>
                <div class="mt-2">
                    <h5 class="mb-75">Lives:</h5>
                    <p class="card-text">New York, USA</p>
                </div>
                <div class="mt-2">
                    <h5 class="mb-75">Email:</h5>
                    <p class="card-text">bucketful@fiendhead.org</p>
                </div>
                <div class="mt-2">
                    <h5 class="mb-50">Website:</h5>
                    <p class="card-text mb-0">www.pixinvent.com</p>
                </div>
            </div>
        </div>
        <!--/ about -->
    </div>
    <!--/ left profile info section -->

    <!-- center profile info section -->
    <div class="col-lg-6 col-12 order-1 order-lg-2">
        <!-- post 1 -->
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-start align-items-center mb-1">
                    <!-- avatar -->
                    <div class="avatar me-1">
                        <img src="assets/images/portrait/small/avatar-s-2.jpg" alt="avatar img" height="50" width="50">
                    </div>
                    <!--/ avatar -->
                    <div class="profile-user-info">
                        <h6 class="mb-0">Leeanna Alvord</h6>
                        <small class="text-muted">12 Dec 2018 at 1:16 AM</small>
                    </div>
                </div>
                <p class="card-text">
                    Wonderful Machine· A well-written bio allows viewers to get to know a photographer beyond the work.
                    This
                    can make the difference when presenting to clients who are looking for the perfect fit.
                </p>
                <!-- post img -->
                <img class="img-fluid rounded mb-75" src="assets/images/profile/post-media/2.jpg" alt="avatar img">
                <!--/ post img -->

                <!-- like share -->
                <div class="row d-flex justify-content-start align-items-center flex-wrap pb-50">
                    <div class="col-sm-6 d-flex justify-content-between justify-content-sm-start mb-2">
                        <a href="#" class="d-flex align-items-center text-muted text-nowrap">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-heart profile-likes font-medium-3 me-50">
                                <path
                                    d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                                </path>
                            </svg>
                            <span>1.25k</span>
                        </a>

                    </div>

                    <!-- share and like count and icons -->
                    <div class="col-sm-6 d-flex justify-content-between justify-content-sm-end align-items-center mb-2">
                        <a href="#" class="text-nowrap">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round"
                                class="feather feather-message-square text-body font-medium-3 me-50">
                                <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path>
                            </svg>
                            <span class="text-muted me-1">1.25k</span>
                        </a>

                        <a href="#" class="text-nowrap">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-share-2 text-body font-medium-3 mx-50">
                                <circle cx="18" cy="5" r="3"></circle>
                                <circle cx="6" cy="12" r="3"></circle>
                                <circle cx="18" cy="19" r="3"></circle>
                                <line x1="8.59" y1="13.51" x2="15.42" y2="17.49"></line>
                                <line x1="15.41" y1="6.51" x2="8.59" y2="10.49"></line>
                            </svg>
                            <span class="text-muted">1.25k</span>
                        </a>
                    </div>
                    <!-- share and like count and icons -->
                </div>
                <!-- like share -->
            </div>
        </div>
        <!--/ post 1 -->

        <!-- post 2 -->
        <div class="card">
            <div class="card-body">
                <!-- avatar image and title -->
                <div class="d-flex justify-content-start align-items-center mb-1">
                    <div class="avatar me-1">
                        <img src="assets/images/profile/post-media/2.jpg" alt="avatar img" height="50" width="50">
                    </div>
                    <div class="profile-user-info">
                        <h6 class="mb-0">Rosa Walters</h6>
                        <small class="text-muted">11 Dec 2019 at 1:16 AM</small>
                    </div>
                </div>
                <!--/ avatar image and title -->
                <p class="card-text">
                    Wonderful Machine· A well-written bio allows viewers to get to know a photographer beyond the work.
                    This
                    can make the difference when presenting to clients who are looking for the perfect fit.
                </p>
                <!-- post img -->
                <img class="img-fluid rounded mb-75" src="../../../app-assets/images/profile/post-media/25.jpg"
                    alt="avatar img">
                <!--/ post img -->

                <!-- like share -->
                <div class="row d-flex justify-content-start align-items-center flex-wrap pb-50">
                    <div class="col-sm-6 d-flex justify-content-between justify-content-sm-start mb-2">
                        <a href="#" class="d-flex align-items-center text-muted text-nowrap">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-heart profile-likes font-medium-3 me-50">
                                <path
                                    d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                                </path>
                            </svg>
                            <span>1.25k</span>
                        </a>
                    </div>

                    <!-- share and like count and icons -->
                    <div class="col-sm-6 d-flex justify-content-between justify-content-sm-end align-items-center mb-2">
                        <a href="#" class="text-nowrap">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round"
                                class="feather feather-message-square text-body font-medium-3 me-50">
                                <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path>
                            </svg>
                            <span class="text-muted me-1">1.25k</span>
                        </a>

                        <a href="#" class="text-nowrap">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-share-2 text-body font-medium-3 mx-50">
                                <circle cx="18" cy="5" r="3"></circle>
                                <circle cx="6" cy="12" r="3"></circle>
                                <circle cx="18" cy="19" r="3"></circle>
                                <line x1="8.59" y1="13.51" x2="15.42" y2="17.49"></line>
                                <line x1="15.41" y1="6.51" x2="8.59" y2="10.49"></line>
                            </svg>
                            <span class="text-muted">1.25k</span>
                        </a>
                    </div>
                    <!-- share and like count and icons -->
                </div>
                <!-- like share -->
            </div>
        </div>
        <!--/ post 2 -->
    </div>
    <!--/ center profile info section -->

    <!-- right profile info section -->
    <div class="col-lg-3 col-12 order-3">
        <!-- latest profile pictures -->
        <div class="card">
            <div class="card-body">
                <h5 class="mb-0">Latest Photos</h5>
                <div class="row">
                    <div class="col-md-4 col-6 profile-latest-img">
                        <a href="#">
                            <img src="../../../app-assets/images/profile/user-uploads/user-13.jpg"
                                class="img-fluid rounded" alt="avatar img">
                        </a>
                    </div>
                    <div class="col-md-4 col-6 profile-latest-img">
                        <a href="#">
                            <img src="../../../app-assets/images/profile/user-uploads/user-02.jpg"
                                class="img-fluid rounded" alt="avatar img">
                        </a>
                    </div>
                    <div class="col-md-4 col-6 profile-latest-img">
                        <a href="#">
                            <img src="../../../app-assets/images/profile/user-uploads/user-03.jpg"
                                class="img-fluid rounded" alt="avatar img">
                        </a>
                    </div>
                    <div class="col-md-4 col-6 profile-latest-img">
                        <a href="#">
                            <img src="../../../app-assets/images/profile/user-uploads/user-04.jpg"
                                class="img-fluid rounded" alt="avatar img">
                        </a>
                    </div>
                    <div class="col-md-4 col-6 profile-latest-img">
                        <a href="#">
                            <img src="../../../app-assets/images/profile/user-uploads/user-05.jpg"
                                class="img-fluid rounded" alt="avatar img">
                        </a>
                    </div>
                    <div class="col-md-4 col-6 profile-latest-img">
                        <a href="#">
                            <img src="../../../app-assets/images/profile/user-uploads/user-06.jpg"
                                class="img-fluid rounded" alt="avatar img">
                        </a>
                    </div>
                    <div class="col-md-4 col-6 profile-latest-img">
                        <a href="#">
                            <img src="../../../app-assets/images/profile/user-uploads/user-07.jpg"
                                class="img-fluid rounded" alt="avatar img">
                        </a>
                    </div>
                    <div class="col-md-4 col-6 profile-latest-img">
                        <a href="#">
                            <img src="../../../app-assets/images/profile/user-uploads/user-08.jpg"
                                class="img-fluid rounded" alt="avatar img">
                        </a>
                    </div>
                    <div class="col-md-4 col-6 profile-latest-img">
                        <a href="#">
                            <img src="../../../app-assets/images/profile/user-uploads/user-09.jpg"
                                class="img-fluid rounded" alt="avatar img">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--/ latest profile pictures -->
    </div>
    <!--/ right profile info section -->
</div>

<!-- reload button -->
<div class="row">
    <div class="col-12 text-center">
        <button type="button"
            class="btn btn-sm btn-primary block-element border-0 mb-1 waves-effect waves-float waves-light">Load
            More</button>
    </div>
</div>