<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <!-- users edit start -->
            <section class="app-product-edit">
                <div class="card">
                    <div class="card-body">
                        <ul class="nav nav-pills" role="tablist">
                            <h2 class="pl-0">Blog</h2>
                        </ul>
                        <div class="tab-content">
                            <!-- Product Tab starts -->
                            <div class="tab-pane active" id="product" aria-labelledby="product-tab" role="tabpanel">
                                <form class="form-validate" [formGroup]="formBlog">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mb-1">
                                                <label class="form-label" for="foodName">Food Name</label>
                                                <input type="text" class="form-control" placeholder="Food Name"
                                                    name="foodName" id="foodaName" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-1">
                                                <label class="form-label" for="foodName">Category</label>
                                                <mat-form-field appearance="fill" class="w-100">
                                                    <mat-label>Select</mat-label>
                                                    <mat-select>
                                                        <mat-option *ngFor="let i of listCategory" [value]="i">{{i}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="form-label" for="foodName">Hashtag</label>
                                            <mat-form-field appearance="fill" class="w-100">
                                                <mat-label>Select</mat-label>
                                                <mat-select placeholder="hashtags" name="hashtag" class="filter-select"
                                                    [(ngModel)]="selectedHastags" [compareWith]="equals" multiple
                                                    #hashtagSelect>
                                                    <mat-option *ngFor="let hashtag of hastags" [value]="hashtag">
                                                        {{hashtag.viewValue}}
                                                    </mat-option>
                                                    <mat-option disabled="disabled" class="filter-option">
                                                        <button mat-button class="mat-primary fill text-sm"
                                                            (click)="selectAll(hashtagSelect, hastags, selectedHastags)">Select
                                                            All
                                                        </button>
                                                        <button mat-button class="mat-accent fill text-sm"
                                                            (click)="deselectAll(hashtagSelect)">
                                                            Deselect All
                                                        </button>
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="mb-1">
                                                <label class="form-label" for="summary">Summary</label>
                                                <textarea type="text" rows="3" class="form-control" name="description"
                                                    id="summary"></textarea>
                                            </div>
                                        </div>
                                        <!-- Metarial -->
                                        <fieldset>
                                            <legend (click)="metarialC.toggle()"
                                                [attr.aria-expanded]="!isCollapsed.metarial"
                                                aria-controls="collapseExample">Metarial</legend>
                                            <div #metarialC="ngbCollapse" [(ngbCollapse)]="isCollapsed.metarial">
                                                <ng-container formGroupName="metarial">
                                                    <div class="col-12 p-0 box-content"
                                                        *ngFor="let item of listMetarial(); let i = index"
                                                        [formGroupName]="i">
                                                        <div class="row m-0">
                                                            <div class="col-md-6">
                                                                <div class="mb-1">
                                                                    <label class="form-label" for="price">Name</label>
                                                                    <input type="text" class="form-control"
                                                                        placeholder="Ration" formControlName="milk"
                                                                        id="ration" />
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 d-flex">
                                                                <div class="col-6 mb-1 px-2">
                                                                    <label class="form-label"
                                                                        for="price">Content</label>
                                                                    <input type="number" class="form-control"
                                                                        placeholder="50g" formControlName="content"
                                                                        id="content" />
                                                                </div>
                                                                <div class="col-6 mb-1 px-2">
                                                                    <label class="form-label" for="price">unit</label>
                                                                    <mat-form-field appearance="fill" class="w-100">
                                                                        <mat-label>Select</mat-label>
                                                                        <mat-select formControlName="unit">
                                                                            <mat-option *ngFor="let i of listUnit"
                                                                                [value]="i">
                                                                                {{i}}
                                                                            </mat-option>
                                                                        </mat-select>
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mb-1">
                                                        <button mat-stroked-button (click)="addMetarial()">
                                                            Add new metarial <sup>
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                                    height="24" viewBox="0 0 24 24" fill="none"
                                                                    stroke="currentColor" stroke-width="2"
                                                                    stroke-linecap="round" stroke-linejoin="round"
                                                                    class="feather feather-plus">
                                                                    <line x1="12" y1="5" x2="12" y2="19"></line>
                                                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                                                </svg>
                                                            </sup>
                                                        </button>
                                                    </div>
                                                </ng-container>
                                            </div>
                                        </fieldset>
                                        <!-- Step by Step -->
                                        <fieldset>
                                            <legend (click)="stepC.toggle()" [attr.aria-expanded]="!isCollapsed.step"
                                                aria-controls="collapseExample">
                                                Step</legend>
                                            <div #stepC="ngbCollapse" [(ngbCollapse)]="isCollapsed.step">
                                                <ng-container formArrayName="content">
                                                    <div class="col-md-12 box-content"
                                                        *ngFor="let item of listContent(); let i = index"
                                                        [formGroupName]="i">
                                                        <h2 class="h2_title">
                                                            <button mat-button class="float-end"
                                                                (click)="removeContent(i)">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                                    height="24" viewBox="0 0 24 24" fill="none"
                                                                    stroke="currentColor" stroke-width="2"
                                                                    stroke-linecap="round" stroke-linejoin="round"
                                                                    class="feather feather-trash-2">
                                                                    <polyline points="3 6 5 6 21 6"></polyline>
                                                                    <path
                                                                        d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2">
                                                                    </path>
                                                                    <line x1="10" y1="11" x2="10" y2="17"></line>
                                                                    <line x1="14" y1="11" x2="14" y2="17"></line>
                                                                </svg>
                                                            </button>
                                                        </h2>
                                                        <div class="mb-1">
                                                            <label class="form-label"
                                                                [for]="'content_title'+i">name</label>
                                                            <input type="text" class="form-control" placeholder="Ration"
                                                                name="ration" [id]="'content_title'+i"
                                                                formControlName="title" />
                                                        </div>
                                                        <div class="mb-1">
                                                            <label class="form-label"
                                                                [for]="'content_des'+i">name</label>
                                                            <textarea type="text" rows="3" class="form-control"
                                                                name="description" [id]="'content_des'+i"
                                                                formControlName="description"></textarea>
                                                        </div>
                                                        <div class="mb-1">
                                                            <label class="form-label"
                                                                [for]="'content_title'+i">Banner</label>
                                                            <div class="col-sm-12">
                                                                <div action="#"
                                                                    class="dropzone dropzone-area dz-clickable"
                                                                    id="dpz-single-file">
                                                                    <label class="dz-message"
                                                                        for="avatar">Avatar</label>
                                                                    <input type="file" hidden id="avatar">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mb-1">
                                                        <button mat-stroked-button (click)="addStep()">
                                                            Add new step <sup>
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                                    height="24" viewBox="0 0 24 24" fill="none"
                                                                    stroke="currentColor" stroke-width="2"
                                                                    stroke-linecap="round" stroke-linejoin="round"
                                                                    class="feather feather-plus">
                                                                    <line x1="12" y1="5" x2="12" y2="19"></line>
                                                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                                                </svg>
                                                            </sup>
                                                        </button>
                                                    </div>
                                                </ng-container>
                                            </div>
                                        </fieldset>
                                        <!-- Content orther -->
                                        <fieldset>
                                            <legend (click)="contentC.toggle()"
                                                [attr.aria-expanded]="!isCollapsed.content"
                                                aria-controls="collapseExample">Content orther</legend>
                                            <div #contentC="ngbCollapse" [(ngbCollapse)]="isCollapsed.content">
                                                <ng-container formArrayName="content">
                                                    <div class="col-md-12 box-content"
                                                        *ngFor="let item of listContent(); let i = index"
                                                        [formGroupName]="i">
                                                        <h2 class="h2_title">
                                                            <button mat-button class="float-end"
                                                                (click)="removeContent(i)">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                                    height="24" viewBox="0 0 24 24" fill="none"
                                                                    stroke="currentColor" stroke-width="2"
                                                                    stroke-linecap="round" stroke-linejoin="round"
                                                                    class="feather feather-trash-2">
                                                                    <polyline points="3 6 5 6 21 6"></polyline>
                                                                    <path
                                                                        d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2">
                                                                    </path>
                                                                    <line x1="10" y1="11" x2="10" y2="17"></line>
                                                                    <line x1="14" y1="11" x2="14" y2="17"></line>
                                                                </svg>
                                                            </button>
                                                        </h2>
                                                        <div class="mb-1">
                                                            <label class="form-label"
                                                                [for]="'content_title'+i">name</label>
                                                            <input type="text" class="form-control" placeholder="Ration"
                                                                name="ration" [id]="'content_title'+i"
                                                                formControlName="title" />
                                                        </div>
                                                        <div class="mb-1">
                                                            <label class="form-label"
                                                                [for]="'content_des'+i">name</label>
                                                            <textarea type="text" rows="3" class="form-control"
                                                                name="description" [id]="'content_des'+i"
                                                                formControlName="description"></textarea>
                                                        </div>
                                                        <div class="mb-1">
                                                            <label class="form-label"
                                                                [for]="'content_title'+i">Banner</label>
                                                            <div class="d-flex justify-content-around">
                                                                <div class="col-sm-6">
                                                                    <div action="#"
                                                                        class="dropzone dropzone-area dz-clickable"
                                                                        id="dpz-single-file">
                                                                        <label class="dz-message"
                                                                            for="avatar">Avatar</label>
                                                                        <input type="file" hidden id="avatar">
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div action="#"
                                                                        class="dropzone dropzone-area dz-clickable"
                                                                        id="dpz-single-file">
                                                                        <label class="dz-message"
                                                                            for="avatar_cover">Avatar
                                                                            cover</label>
                                                                        <input type="file" hidden id="avatar_cover">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="mb-1">
                                                            <label class="form-label" [for]="'content_url'+i">url
                                                                youtube
                                                                <span>
                                                                    <a href="https://www.youtube.com/" target="_blank">
                                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                                            width="24" height="24" viewBox="0 0 24 24"
                                                                            fill="none" stroke="currentColor"
                                                                            stroke-width="2" stroke-linecap="round"
                                                                            stroke-linejoin="round"
                                                                            class="feather feather-link-2">
                                                                            <path
                                                                                d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3">
                                                                            </path>
                                                                            <line x1="8" y1="12" x2="16" y2="12"></line>
                                                                        </svg>
                                                                    </a>
                                                                </span>
                                                            </label>
                                                            <input type="text" class="form-control"
                                                                placeholder="url youtube" name="ration"
                                                                [id]="'content_url'+i" />
                                                        </div>
                                                    </div>
                                                    <div class="mb-1">
                                                        <button mat-stroked-button (click)="addContent()">
                                                            Add new content <sup>
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                                    height="24" viewBox="0 0 24 24" fill="none"
                                                                    stroke="currentColor" stroke-width="2"
                                                                    stroke-linecap="round" stroke-linejoin="round"
                                                                    class="feather feather-plus">
                                                                    <line x1="12" y1="5" x2="12" y2="19"></line>
                                                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                                                </svg>
                                                            </sup>
                                                        </button>
                                                    </div>
                                                </ng-container>
                                            </div>

                                        </fieldset>
                                    </div>
                                </form>
                                <!-- users edit account form ends -->
                            </div>
                            <!-- Product Tab ends -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- END: Content-->


            <!-- BEGIN: Customizer-->
            <div class="customizer d-none d-md-block"><a
                    class="customizer-toggle d-flex align-items-center justify-content-center"
                    href="javascript:void(0)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-eye">
                        <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                        <circle cx="12" cy="12" r="3"></circle>
                    </svg></a>
                <div class="customizer-content">
                    <!-- Customizer header -->
                    <div class="customizer-header px-2 pt-1 pb-0 position-relative">
                        <h4 class="mb-0">Theme Customizer</h4>
                        <p class="m-0">Customize & Preview in Real Time</p>

                        <a class="customizer-close" href="#"><i data-feather="x"></i></a>
                    </div>

                    <hr />

                    <!-- Styling & Text Direction -->
                    <div class="customizer-styling-direction px-2">
                        <p class="fw-bold">Skin</p>
                        <div class="d-flex">
                            <div class="form-check me-1">
                                <input type="radio" id="skinlight" name="skinradio" class="form-check-input layout-name"
                                    checked data-layout="" />
                                <label class="form-check-label" for="skinlight">Light</label>
                            </div>
                            <div class="form-check me-1">
                                <input type="radio" id="skinbordered" name="skinradio"
                                    class="form-check-input layout-name" data-layout="bordered-layout" />
                                <label class="form-check-label" for="skinbordered">Bordered</label>
                            </div>
                            <div class="form-check me-1">
                                <input type="radio" id="skindark" name="skinradio" class="form-check-input layout-name"
                                    data-layout="dark-layout" />
                                <label class="form-check-label" for="skindark">Dark</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" id="skinsemidark" name="skinradio"
                                    class="form-check-input layout-name" data-layout="semi-dark-layout" />
                                <label class="form-check-label" for="skinsemidark">Semi Dark</label>
                            </div>
                        </div>
                    </div>

                    <hr />

                    <!-- Menu -->
                    <div class="customizer-menu px-2">
                        <div id="customizer-menu-collapsible" class="d-flex">
                            <p class="fw-bold me-auto m-0">Menu Collapsed</p>
                            <div class="form-check form-check-primary form-switch">
                                <input type="checkbox" class="form-check-input" id="collapse-sidebar-switch" />
                                <label class="form-check-label" for="collapse-sidebar-switch"></label>
                            </div>
                        </div>
                    </div>
                    <hr />

                    <!-- Layout Width -->
                    <div class="customizer-footer px-2">
                        <p class="fw-bold">Layout Width</p>
                        <div class="d-flex">
                            <div class="form-check me-1">
                                <input type="radio" id="layout-width-full" name="layoutWidth" class="form-check-input"
                                    checked />
                                <label class="form-check-label" for="layout-width-full">Full Width</label>
                            </div>
                            <div class="form-check me-1">
                                <input type="radio" id="layout-width-boxed" name="layoutWidth"
                                    class="form-check-input" />
                                <label class="form-check-label" for="layout-width-boxed">Boxed</label>
                            </div>
                        </div>
                    </div>
                    <hr />

                    <!-- Navbar -->
                    <div class="customizer-navbar px-2">
                        <div id="customizer-navbar-colors">
                            <p class="fw-bold">Navbar Color</p>
                            <ul class="list-inline unstyled-list">
                                <li class="color-box bg-white border selected" data-navbar-default=""></li>
                                <li class="color-box bg-primary" data-navbar-color="bg-primary"></li>
                                <li class="color-box bg-secondary" data-navbar-color="bg-secondary"></li>
                                <li class="color-box bg-success" data-navbar-color="bg-success"></li>
                                <li class="color-box bg-danger" data-navbar-color="bg-danger"></li>
                                <li class="color-box bg-info" data-navbar-color="bg-info"></li>
                                <li class="color-box bg-warning" data-navbar-color="bg-warning"></li>
                                <li class="color-box bg-dark" data-navbar-color="bg-dark"></li>
                            </ul>
                        </div>

                        <p class="navbar-type-text fw-bold">Navbar Type</p>
                        <div class="d-flex">
                            <div class="form-check me-1">
                                <input type="radio" id="nav-type-floating" name="navType" class="form-check-input"
                                    checked />
                                <label class="form-check-label" for="nav-type-floating">Floating</label>
                            </div>
                            <div class="form-check me-1">
                                <input type="radio" id="nav-type-sticky" name="navType" class="form-check-input" />
                                <label class="form-check-label" for="nav-type-sticky">Sticky</label>
                            </div>
                            <div class="form-check me-1">
                                <input type="radio" id="nav-type-static" name="navType" class="form-check-input" />
                                <label class="form-check-label" for="nav-type-static">Static</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" id="nav-type-hidden" name="navType" class="form-check-input" />
                                <label class="form-check-label" for="nav-type-hidden">Hidden</label>
                            </div>
                        </div>
                    </div>
                    <hr />

                    <!-- Footer -->
                    <div class="customizer-footer px-2">
                        <p class="fw-bold">Footer Type</p>
                        <div class="d-flex">
                            <div class="form-check me-1">
                                <input type="radio" id="footer-type-sticky" name="footerType"
                                    class="form-check-input" />
                                <label class="form-check-label" for="footer-type-sticky">Sticky</label>
                            </div>
                            <div class="form-check me-1">
                                <input type="radio" id="footer-type-static" name="footerType" class="form-check-input"
                                    checked />
                                <label class="form-check-label" for="footer-type-static">Static</label>
                            </div>
                            <div class="form-check me-1">
                                <input type="radio" id="footer-type-hidden" name="footerType"
                                    class="form-check-input" />
                                <label class="form-check-label" for="footer-type-hidden">Hidden</label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- End: Customizer-->
        </div>
    </div>
</div>