<!-- BEGIN: Header-->
<app-header></app-header>
<!-- END: Header-->

<!-- BEGIN: Main Menu-->
<app-navigation></app-navigation>
<!-- END: Main Menu-->

<!-- BEGIN: Content-->
<!-- <div class="pace-done vertical-layout vertical-menu-modern navbar-floating footer-static menu-collapsed"> -->
    <router-outlet></router-outlet>
<!-- </div> -->
<!-- END: Content-->

<!-- Buynow Button-->
<div class="buy-now"><a href="#" target="_blank" class="btn btn-danger">Buy Now</a>

</div>
<div class="sidenav-overlay"></div>
<div class="drag-target"></div>

<!-- BEGIN: Footer-->
<app-footer></app-footer>
<button class="btn btn-primary btn-icon scroll-top" type="button"><i data-feather="arrow-up"></i></button>
<!-- END: Footer-->