<div class="app-content content ecommerce-application">
    <div class="content-wrapper container-xxl p-0 list-view--product">
        <div class="col-12">
            <div class="card">
                <div class="d-flex justify-content-between align-items-center pt-0">
                    <h2 class="card-header w-auto">Order Manager</h2>
                </div>
            </div>
            <!-- <ul class="list-group list-group-horizontal-sm">
                <li class="list-group-item" [class]="active == 0 ? 'btn btn-outline-primary waves-effect' : ''"><button
                        mat-menu-item (click)="reset()">Reset</button>
                <li class="list-group-item">
                    <button mat-menu-item (click)="getOrderBlogByMonth(1)"
                        [class]="active == 13 ? 'btn btn-outline-primary waves-effect' : ''">1st quarter</button>
                </li>
                <li class="list-group-item">
                    <button mat-menu-item (click)="getOrderBlogByMonth(2)"
                        [class]="active == 22 ? 'btn btn-outline-primary waves-effect' : ''">2st quarter</button>
                </li>
                <li class="list-group-item">
                    <button mat-menu-item (click)="getOrderBlogByMonth(3)"
                        [class]="active == 33 ? 'btn btn-outline-primary waves-effect' : ''">3st quarter</button>
                </li>
                <li class="list-group-item">
                    <button mat-menu-item (click)="getOrderBlogByMonth(4)"
                        [class]="active == 44 ? 'btn btn-outline-primary waves-effect' : ''">4st quarter</button>
                </li>
                <li class="list-group-item">
                    <button mat-menu-item [matMenuTriggerFor]="query">Get by month</button>
                    <mat-menu #query="matMenu">
                        <span mat-menu-item *ngFor="let i of listMonth" (click)="getOrderBlogInMonth(i)"
                            class="d-inline"
                            [class]="active == i ? 'btn btn-outline-primary waves-effect' : ''">{{i}}</span>
                    </mat-menu>
                </li>
            </ul> -->
            <div class="card card-company-table">
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>product</th>
                                    <th>Total</th>
                                    <th>Status</th>
                                    <th>Confirm time</th>
                                    <th>Phone</th>
                                    <th>Address</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngIf="status==0">
                                    <tr *ngFor="let item of listOrder; let ind = index" (click)="getOrderDetail(ind)"
                                        class="cursor-pointer" [matMenuTriggerFor]="menu">
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div
                                                    class="profile-img-container d-flex align-items-center avatar rounded">
                                                    <div class="profile-img">
                                                        <img [src]="item?.user_detail?.avatar" class="rounded img-fluid"
                                                            alt="avatar" width="50px" />
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="fw-bolder">{{item?.customer_name ? item?.customer_name : item?.user_detail?.fullName}}</div>
                                                    <div class="font-small-2 text-muted">{{item?.user_detail?.email}}
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">

                                                <span>${{item.total}}</span>
                                            </div>
                                        </td>
                                        <td class="text-nowrap">
                                            <div class="d-flex flex-column">
                                                <span class="fw-bolder mb-25">{{item.status ? 'paid' : 'unpaid'}}</span>
                                            </div>
                                        </td>
                                        <td><span *ngIf="item.confirmation_date">
                                                {{item.confirmation_date | date:"yyyy/MM/dd"}}
                                            </span></td>
                                        <td><span *ngIf="item.phone_number">
                                                {{item.phone_number}}
                                            </span></td>
                                            <td><span *ngIf="item.address">
                                                    {{item.address}}
                                                </span></td>
                                    </tr>
                                </ng-container>
                                <ng-container *ngIf="status==1">
                                    <tr *ngFor="let item of listOrder; let ind = index" class="cursor-pointer">
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div
                                                    class="profile-img-container d-flex align-items-center avatar rounded">
                                                    <div class="profile-img">
                                                        <img [src]="item?.avatar" class="rounded img-fluid" alt="avatar"
                                                            width="50px" />
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="fw-bolder">{{item?.fullName}}</div>
                                                    <div class="font-small-2 text-muted">{{item?.email}}
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">

                                                <span>${{item.total}}</span>
                                            </div>
                                        </td>
                                        <td class="text-nowrap">
                                            <div class="d-flex flex-column">
                                                <span class="fw-bolder mb-25">{{item.payment_status ? 'paid' :
                                                    'unpaid'}}</span>
                                            </div>
                                        </td>
                                        <td><span *ngIf="item.confirmation_date">
                                                {{item.confirmation_date | date:"yyyy/MM/dd"}}
                                            </span></td>
                                    </tr>
                                </ng-container>
                                <mat-menu #menu="matMenu">
                                    <div class="table-responsive">
                                        <div *ngIf="OrderDetail.length == 0">Not Data</div>

                                        <table class="table w-400" *ngIf="OrderDetail.length > 0">
                                            <thead>
                                                <tr>
                                                    <th>User</th>
                                                    <th>Quantity</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="cursor-pointer" *ngFor="let item of OrderDetail">
                                                    <td>
                                                        <div
                                                            class="profile-img-container d-flex align-items-center avatar rounded bg-transparent">
                                                            <div class="profile-img">
                                                                <img [src]="item?.bannerImg" class="rounded img-fluid"
                                                                    alt="avatar" width="40px" />
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <div class="fw-bolder">{{item?.name}}</div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        {{item.quantity}}
                                                    </td>
                                                    <td>
                                                        <div class="d-flex align-items-center">

                                                            <span>${{item.total}}</span>
                                                        </div>
                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </mat-menu>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-load [isLoading]="load"></app-load>