.list_img--feature {
    margin: 0px !important;
}
.list_img--feature .dropzone {
    min-height: 150px;
}
.list_img--feature .col-sm-4 {
    margin: 1rem 0rem;
}
.list_img--feature .dz-message::before {
    background: none;
}
