<app-load [isLoading]="loading"></app-load>

<div class="content-block post-header-inheader post-sidebar-disable">
    <div class="container w-100 container-page-item-title with-bg"
        [ngStyle]="{'background-image': 'url(' + blog?.banner_img + ')'}">
        <div class="row">
            <div class="col-md-12 col-overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="page-item-title-single">
                                <div class="cookandmeal-post-single cookandmeal-post">
                                    <div class="post-categories"><a
                                        *ngFor="let item of blog?.hash_tags"
                                            href="javascript:void(0)"
                                            style="background-color: #e5a484;"><i class="fa fa-tag cat-dot"></i><span
                                                class="cat-title">{{item}}</span></a></div>
                                    <div class="cookandmeal-post-details">

                                        <h1 class="post-title entry-title">{{blog?.name}}</h1>
                                        <div class="post-date"><span class="entry-date published updated">{{
                                                blog?.create_at | date:"yyyy/MM/dd"}}</span></div>
                                        <div class="post-info-dot"></div>
                                        <div class="post-read-time" *ngIf="blog?.cooking_time"><i class="fa fa-clock-o"
                                                aria-hidden="true"></i>{{blog?.cooking_time + ' time Cook'}}
                                        </div>
                                        <div class="post-details-bottom post-details-bottom-inline">

                                            <div class="post-info-wrapper">
                                                <div class="post-info-comments"><i class="fa fa-comment-o"
                                                        aria-hidden="true"></i><a
                                                        href="javascript:void(0)">0</a>
                                                </div>

                                                <div class="post-info-views"><i class="fa fa-eye"
                                                        aria-hidden="true"></i>71</div>
                                                <div class="post-info-likes"><a href="javascript:void(0)" class="post-like-button"
                                                        data-id="378"><i class="fa fa-heart-o"
                                                            aria-hidden="true"></i></a><span
                                                        class="post-like-counter">5</span></div>
                                            </div>

                                            <div class="post-info-share">
                                                <div class="post-social-wrapper">
                                                    <div class="post-social-title"><span
                                                            class="post-social-title-text">Share</span></div>
                                                    <div class="post-social-frame">
                                                        <div class="post-social">
                                                            <a title="Share with Facebook"
                                                                href="https://wp.wp-preview.com/cookandmeal/cookandmeal-6/2021/06/07/spicy-serrano-pineapple-margarita/"
                                                                data-type="facebook" data-title="Broccoli Slaw"
                                                                class="facebook-share"> <i
                                                                    class="fa fa-facebook"></i></a><a title="Tweet this"
                                                                href="https://wp.wp-preview.com/cookandmeal/cookandmeal-6/2021/06/07/spicy-serrano-pineapple-margarita/"
                                                                data-type="twitter" data-title="Broccoli Slaw"
                                                                class="twitter-share"> <i
                                                                    class="fa fa-twitter"></i></a><a
                                                                title="Share with LinkedIn"
                                                                href="https://wp.wp-preview.com/cookandmeal/cookandmeal-6/2021/06/07/spicy-serrano-pineapple-margarita/"
                                                                data-type="linkedin" data-title="Broccoli Slaw"
                                                                data-image="https://wp.wp-preview.com/cookandmeal/cookandmeal-6/wp-content/uploads/2021/06/uo4r-xn3kwe-1140x694.jpg"
                                                                class="linkedin-share"> <i
                                                                    class="fa fa-linkedin"></i></a><a title="Pin this"
                                                                href="https://wp.wp-preview.com/cookandmeal/cookandmeal-6/2021/06/07/spicy-serrano-pineapple-margarita/"
                                                                data-type="pinterest" data-title="Broccoli Slaw"
                                                                data-image="https://wp.wp-preview.com/cookandmeal/cookandmeal-6/wp-content/uploads/2021/06/uo4r-xn3kwe-1140x694.jpg"
                                                                class="pinterest-share"> <i
                                                                    class="fa fa-pinterest"></i></a>
                                                        </div>
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="post-container container span-col-md-12 post-single-content">
        <div class="row">
            <div class="col-md-12 post-single-content">
                <div class="blog-post blog-post-single hentry clearfix">
                    <article id="post-378"
                        class="post-378 post type-post status-publish format-standard has-post-thumbnail category-pasta tag-baking tag-easy tag-food tag-recipe"
                        role="main">
                        <div class="post-content-wrapper">
                            <div class="post-content clearfix">

                                <div class="entry-content">
                                    <p class="has-medium-font-size">{{blog?.summary}}</p>

                                    <ng-container *ngFor="let item of blog?.content">
                                        <h2>{{item.name}}</h2>
                                        <hr class="wp-block-separator is-style-wide">
                                        <p>{{item.content}}</p>
                                        <hr class="wp-block-separator is-style-dots">
                                        <div class="wp-block-cover alignwide has-background-dim has-parallax is-position-center-center"
                                            [ngStyle]="{'background-image': 'url(' + item?.banner_img + ')'}">
                                        </div>
                                    </ng-container>
                                    <h2>Special ingredients</h2>
                                    <hr class="wp-block-separator is-style-wide">
                                    <ul>
                                        <li *ngIf="let item of blog?.metarial">
                                            {{item.mass}}&nbsp;{{item.unit}}&nbsp;{{item?.title}}</li>
                                    </ul>
                                    <p>Looking for other egg-based savory recipes? Try these:</p>

                                    <p>Once you prep your ingredients, you’re ready to bake! Here’s what you need to do:
                                    </p>

                                </div><!-- .entry-content -->

                                <div class="cookandmeal-social-share-fixed sidebar-position-disable"
                                    style="position: absolute; bottom: auto; top: 0px; margin-top: 0px; opacity: 1;">
                                    <div class="post-social-wrapper">
                                        <div class="post-social-title"><span class="post-social-title-text">Share</span>
                                        </div>

                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </article>
                    <div class="post-recipe-block with-bg" id="post-recipe-block" vocab="https://schema.org/"
                        typeof="Recipe">
                        <div class="post-recipe-details">
                            <!-- <div class="post-recipe-details-column">
                                <h4>Equipment</h4>
                                <ul>
                                    <li><i class="fa fa-check" aria-hidden="true"></i>
                                        <p>Measuring cups</p>
                                    </li>
                                    <li><i class="fa fa-check" aria-hidden="true"></i>
                                        <p>Wooden spoons</p>
                                    </li>
                                    <li><i class="fa fa-check" aria-hidden="true"></i>
                                        <p>Peeler</p>
                                    </li>
                                    <li><i class="fa fa-check" aria-hidden="true"></i>
                                        <p>Whisk</p>
                                    </li>
                                </ul>
                            </div> -->
                            <div class="post-recipe-details-column">

                                <h4>Ingredients</h4>
                                <ul>
                                    <li *ngFor="let item of blog?.metarial">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                        <p property="recipeIngredient">
                                            {{item.mass}}&nbsp;{{item.unit}}&nbsp;{{item?.title}}</p>
                                    </li>
                                </ul>

                            </div>
                        </div>

                        <div class="post-recipe-instructions-group">
                            <h4>Instructions</h4>
                            <div class="post-recipe-instruction" *ngFor="let item of blog?.step; let i = index">
                                <div class="post-recipe-step">{{i + 1}}</div>
                                <div class="post-recipe-instruction-content">
                                    <div class="post-recipe-instruction-title">
                                        <h4 property="recipeInstructions">{{item.name}}</h4>
                                    </div>
                                    <div class="post-recipe-instruction-text" property="recipeInstructions">
                                        {{item.description}}</div>
                                </div>
                            </div>
                            <!-- <div class="post-recipe-instruction">
                                <div class="post-recipe-step">2</div>
                                <div class="post-recipe-instruction-content">
                                    <div class="post-recipe-instruction-title">
                                        <h4 property="recipeInstructions">Next step - preparation!</h4>
                                    </div>
                                    <div class="post-recipe-instruction-text" property="recipeInstructions">Remove the
                                        top 1/3 of the bread and then pull out some of the insides to create space for
                                        the eggs, being careful not to remove all of the bread, you want a thick layer
                                        of bread for your boat. Rub the inside of the bread with olive oil and
                                        everything bagel spice or salt and pepper. Bake for 8-10 minutes or until the
                                        bread is toasted.
                                    </div>
                                </div>
                            </div>
                            <div class="post-recipe-instruction">
                                <div class="post-recipe-step">3</div>
                                <div class="post-recipe-instruction-content">
                                    <div class="post-recipe-instruction-title">
                                        <h4 property="recipeInstructions">And now!</h4>
                                    </div>
                                    <div class="post-recipe-instruction-text" property="recipeInstructions">Meanwhile,
                                        whisk together the eggs, milk, and a pinch each of salt, pepper, and red pepper
                                        flakes. Stir in the chives, spinach, and havarti.
                                    </div>
                                </div>
                            </div>
                            <div class="post-recipe-instruction">
                                <div class="post-recipe-step">4</div>
                                <div class="post-recipe-instruction-content">
                                    <div class="post-recipe-instruction-title">
                                        <h4 property="recipeInstructions">Final</h4>
                                    </div>
                                    <div class="post-recipe-instruction-text" property="recipeInstructions">Sprinkle the
                                        bottom of the bread with 1/2 cup cheddar, then drizzle over the pesto. Slowly
                                        pour in the eggs, allow the mix to sink into the boat. Top with the remaining
                                        cheddar. Bake 30-35 minutes, until just set in the center.
                                    </div>
                                </div>
                            </div> -->
                        </div>

                        <!-- <div class="post-recipe-notes">
                            <h4>Notes</h4>
                            Kid-Friendly Adaptation: Cook the chicken in broth instead of buffalo sauce. Shred and drain
                            off excess liquid. Put some of the chicken aside for the kiddos (plain, no sauce) and toss
                            the remaining chicken with the buffalo sauce before you broil it.
                        </div> -->
                    </div>
                    <div class="post-tags-wrapper">
                        <div class="tags clearfix">
                            <a href="https://wp.wp-preview.com/cookandmeal/cookandmeal-6/tag/baking/"
                                rel="tag">baking</a> <a
                                href="https://wp.wp-preview.com/cookandmeal/cookandmeal-6/tag/easy/" rel="tag">easy</a>
                            <a href="https://wp.wp-preview.com/cookandmeal/cookandmeal-6/tag/food/" rel="tag">food</a>
                            <a href="https://wp.wp-preview.com/cookandmeal/cookandmeal-6/tag/recipe/"
                                rel="tag">recipe</a>
                        </div>
                    </div>
                    <h2>The End</h2>
                    <hr class="wp-block-separator is-style-wide">
                    <p>{{blog?.description}}</p>
                    <div class="cookandmeal-post cookandmeal-post-bottom">
                        <div class="post-details-bottom post-details-bottom-single">

                            <div class="post-info-wrapper">
                                <div class="post-info-comments"><i class="fa fa-comment-o" aria-hidden="true"></i><a
                                        href="javascript:void(0)">0</a>
                                </div>

                                <div class="post-info-views"><i class="fa fa-eye" aria-hidden="true"></i>71</div>
                                <div class="post-info-likes"><a href="javascript:void(0)" class="post-like-button" data-id="378"><i
                                            class="fa fa-heart-o" aria-hidden="true"></i></a><span
                                        class="post-like-counter">5</span></div>
                            </div>

                            <div class="post-info-share">
                                <div class="post-social-wrapper">
                                    <div class="post-social-title"><span class="post-social-title-text">Share</span>
                                    </div>
                                    <div class="post-social-frame">
                                        <div class="post-social">
                                            <a title="Share with Facebook"
                                                href="https://wp.wp-preview.com/cookandmeal/cookandmeal-6/2021/06/07/spicy-serrano-pineapple-margarita/"
                                                data-type="facebook" data-title="Broccoli Slaw" class="facebook-share">
                                                <i class="fa fa-facebook"></i></a><a title="Tweet this"
                                                href="https://wp.wp-preview.com/cookandmeal/cookandmeal-6/2021/06/07/spicy-serrano-pineapple-margarita/"
                                                data-type="twitter" data-title="Broccoli Slaw" class="twitter-share"> <i
                                                    class="fa fa-twitter"></i></a><a title="Share with LinkedIn"
                                                href="https://wp.wp-preview.com/cookandmeal/cookandmeal-6/2021/06/07/spicy-serrano-pineapple-margarita/"
                                                data-type="linkedin" data-title="Broccoli Slaw"
                                                data-image="https://wp.wp-preview.com/cookandmeal/cookandmeal-6/wp-content/uploads/2021/06/uo4r-xn3kwe-1140x694.jpg"
                                                class="linkedin-share"> <i class="fa fa-linkedin"></i></a><a
                                                title="Pin this"
                                                href="https://wp.wp-preview.com/cookandmeal/cookandmeal-6/2021/06/07/spicy-serrano-pineapple-margarita/"
                                                data-type="pinterest" data-title="Broccoli Slaw"
                                                data-image="https://wp.wp-preview.com/cookandmeal/cookandmeal-6/wp-content/uploads/2021/06/uo4r-xn3kwe-1140x694.jpg"
                                                class="pinterest-share"> <i class="fa fa-pinterest"></i></a>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="post-container-bottom container span-col-md-12 post-single-content">
        <div class="row">
            <div class="col-md-12 post-single-content">
                <div class="author-bio">
                    <div class="author-image-wrapper">
                        <div class="author-image">
                            <a href="https://wp.wp-preview.com/cookandmeal/cookandmeal-6/author/cookandmeal/"><img
                                    data-del="avatar" alt=""
                                    src="https://wp.wp-preview.com/cookandmeal/cookandmeal-6/wp-content/uploads/2021/06/image-from-id-473651-jpeg-150x150.jpg"
                                    class="avatar pp-user-avatar avatar-90 photo " height="90" width="90"></a>
                        </div>
                        <div class="author-posts">21 posts</div>
                    </div>
                    <div class="author-info">
                        <h3><span class="vcard author"><span class="fn"><a
                                        href="https://wp.wp-preview.com/cookandmeal/cookandmeal-6/author/cookandmeal/"
                                        title="Posts by Amanda Simons" rel="author">Amanda Simons</a></span></span></h3>
                        <h5>About author</h5>
                        <div class="author-description">On a cool spring morning, nothing gets me out of bed like the
                            thought of these strawberry muffins. To me, they’re the perfect balance of cozy and
                            refreshing. Cozy because they’re moist, fluffy, and warmly spiced with cinnamon. And
                            refreshing because they’re packed to the brim with fresh fruit.</div>
                        <a href="https://wp.wp-preview.com/cookandmeal/cookandmeal-6/author/cookandmeal/"
                            class="author-bio-link">Articles</a>
                        <div class="author-social">
                            <ul class="author-social-icons">
                                <li class="author-social-link-website"><a
                                        href="https://wp.wp-preview.com/cookandmeal/cookandmeal-1" target="_blank"><i
                                            class="fa fa-home"></i></a></li>
                                <li class="author-social-link-email"><a href="mailto:dedalx.rus@gmail.com"
                                        target="_blank"><i class="fa fa-envelope-o"></i></a></li>
                                <li class="author-social-link-facebook"><a href="javascript:void(0)" target="_blank"><i
                                            class="fa fa-facebook"></i></a></li>
                                <li class="author-social-link-twitter"><a href="javascript:void(0)" target="_blank"><i
                                            class="fa fa-twitter"></i></a></li>
                                <li class="author-social-link-pinterest"><a href="javascript:void(0)" target="_blank"><i
                                            class="fa fa-pinterest"></i></a></li>
                                <li class="author-social-link-instagram"><a href="javascript:void(0)" target="_blank"><i
                                            class="fa fa-instagram"></i></a></li>
                                <li class="author-social-link-youtube"><a href="javascript:void(0)" target="_blank"><i
                                            class="fa fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>