<div class="section no-padding-vertical wf-section">
    <div class="wrapper side-paddings">
        <div class="breadcrumbs"><a href="../index.html" class="link-grey">Home</a><img
                src="https://assets.website-files.com/5badda2935e11303a89a461e/5baf79eb570913b9781a96f2_arrow-right-mini-icon.svg"
                alt="" class="breadcrumbs-arrow" /><a href="../catalog.html" class="link-grey">Catalog</a><img
                src="https://assets.website-files.com/5badda2935e11303a89a461e/5baf79eb570913b9781a96f2_arrow-right-mini-icon.svg"
                alt="" class="breadcrumbs-arrow" />
            <div>Teddy Bear</div>
        </div>
    </div>
</div>
<div class="section no-padding-vertical wf-section">
    <div class="wrapper side-paddings">
        <div class="product">
            <div class="product-info">
                <h1>Teddy Bear</h1>
                <p class="text-grey">A successful marketing plan relies heavily on the pulling-power of advertising
                    copy.
                    Writing result-oriented ad copy is difficult, as it must appeal to, entice, and convince consumers
                    to take
                    action. There is no magic formula to write perfect ad copy. It is based on a number of factors.</p>
                <div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D"
                    class="product-price">$ 30.00 USD</div>
                <div class="full-width">
                    <form data-node-type="commerce-add-to-cart-form" data-commerce-sku-id="5bae129d35e11310a69a82d2"
                        data-loading-text="Adding to cart..." data-commerce-product-id="5bae129d1c68cc806025c48d"
                        class="w-commerce-commerceaddtocartform add-to-cart"><input type="number" pattern="^[0-9]+$"
                            inputMode="numeric" id="quantity-652131f9f904302b3296412795400fe8"
                            name="commerce-add-to-cart-quantity-input" min="1"
                            class="w-commerce-commerceaddtocartquantityinput input quantity-input" value="1" />
                        <div class="buy-buttons"><input type="submit" data-node-type="commerce-add-to-cart-button"
                                data-loading-text="Adding to cart..." value="Add to Cart"
                                class="w-commerce-commerceaddtocartbutton button add-to-cart-button" /><a
                                href="../checkout.html" data-node-type="commerce-buy-now-button"
                                data-default-text="Buy now" data-subscription-text="Subscribe now"
                                class="w-commerce-commercebuynowbutton button buy-now-button">Buy now</a></div>
                    </form>
                    <div style="display:none" class="w-commerce-commerceaddtocartoutofstock out-of-stock">
                        <div>This product is out of stock.</div>
                    </div>
                    <div data-node-type="commerce-add-to-cart-error" style="display:none"
                        class="w-commerce-commerceaddtocarterror form-error">
                        <div data-node-type="commerce-add-to-cart-error"
                            data-w-add-to-cart-quantity-error="Product is not available in this quantity."
                            data-w-add-to-cart-general-error="Something went wrong when adding this item to the cart."
                            data-w-add-to-cart-mixed-cart-error="You can’t purchase another product with a subscription."
                            data-w-add-to-cart-buy-now-error="Something went wrong when trying to purchase this item."
                            data-w-add-to-cart-checkout-disabled-error="Checkout is disabled on this site."
                            data-w-add-to-cart-select-all-options-error="Please select an option in each set.">Product
                            is not
                            available in this quantity.</div>
                    </div>
                </div>
            </div>
            <div class="product-image-wrapper"><img
                    data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
                    src="../../assets.website-files.com/5baddb6a35e113da0e9a4802/5bae12942ca03553bf0d536c_33903-2-plush-toy-transparent-image-min.png"
                    alt="" sizes="(max-width: 479px) 83vw, (max-width: 767px) 75vw, (max-width: 991px) 76vw, 32vw"
                    srcset="https://assets.website-files.com/5baddb6a35e113da0e9a4802/5bae12942ca03553bf0d536c_33903-2-plush-toy-transparent-image-min-p-500.png 500w, https://assets.website-files.com/5baddb6a35e113da0e9a4802/5bae12942ca03553bf0d536c_33903-2-plush-toy-transparent-image-min.png 1200w"
                    class="full-width" /></div>
            <div class="product-details-wrapper">
                <div class="shop-header">
                    <h5 class="no-margin">Product Details</h5>
                    <div class="sku">
                        <div>SKU: </div>
                        <div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_sku_%22%2C%22to%22%3A%22innerHTML%22%7D%5D">
                            35009
                        </div>
                    </div>
                    <div class="shop-header-line">
                        <div class="shop-header-color green"></div>
                    </div>
                </div>
                <div class="product-details w-richtext">
                    <h4>Add Your Product Description</h4>
                    <p>The rich text element allows you to create and format headings, paragraphs, blockquotes, images,
                        and
                        video all in one place instead of having to add and format them individually. Just double-click
                        and
                        easily create content. A rich text element can be used with static or dynamic content. For
                        static
                        content, just drop it into any page and begin editing. For dynamic content, add a rich text
                        field to any
                        collection and then connect a rich text element to that field in the settings panel. Voila!</p>
                    <h4>Simple &amp; Elegant Template</h4>
                    <p>Headings, paragraphs, blockquotes, figures, images, and figure captions can all be styled after a
                        class
                        is added to the rich text element using the "When inside of" nested selector system.</p>
                    <ul>
                        <li>Beautifully Designed</li>
                        <li>Fully Responsive</li>
                        <li>CMS Content</li>
                        <li>Smooth Animations</li>
                    </ul>
                    <p>A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing
                        result-oriented ad copy is difficult, as it must appeal to, entice, and convince consumers to
                        take
                        action.</p>
                    <h5>Perfect Choice for Your Business</h5>
                    <p>Grabbing the consumer’s attention isn’t enough; you have to keep that attention for at least a
                        few
                        seconds. This is where your benefits come into play or a product description that sets your
                        offer apart
                        from the others.</p>
                    <p>‍</p>
                </div>
                <div class="product-table">
                    <div class="product-table-cell">
                        <div>Width</div>
                        <div class="product-table-info">
                            <div
                                data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_width_%22%2C%22to%22%3A%22innerHTML%22%7D%5D">
                                38
                            </div>
                            <div>  in</div>
                        </div>
                    </div>
                    <div class="product-table-cell">
                        <div>Height</div>
                        <div class="product-table-info">
                            <div
                                data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_height_%22%2C%22to%22%3A%22innerHTML%22%7D%5D">
                                32
                            </div>
                            <div>  in</div>
                        </div>
                    </div>
                    <div class="product-table-cell">
                        <div>Length</div>
                        <div class="product-table-info">
                            <div
                                data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_length_%22%2C%22to%22%3A%22innerHTML%22%7D%5D">
                                21.5
                            </div>
                            <div>  in</div>
                        </div>
                    </div>
                    <div class="product-table-cell no-border-bottom">
                        <div>Weight</div>
                        <div class="product-table-info">
                            <div
                                data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_weight_%22%2C%22to%22%3A%22innerHTML%22%7D%5D">
                                24
                            </div>
                            <div>  oz</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section wf-section">
    <div class="wrapper">
        <div class="shop-header">
            <h3>Related Products</h3><a href="../catalog.html" class="link arrow-link">See All Toys</a>
            <div class="shop-header-line">
                <div class="shop-header-color"></div>
            </div>
        </div>
        <div class="full-width w-dyn-list">
            <div role="list" class="products w-dyn-items">
                <div data-w-id="df75c36d-8d89-3a15-6c0d-6078372525bd" role="listitem"
                    class="product-card-wrapper w-dyn-item"><a href="pluto-yellow-dog.html"
                        class="product-card w-inline-block">
                        <div class="product-card-image-wrapper"><img
                                data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
                                src="../../assets.website-files.com/5baddb6a35e113da0e9a4802/5bae0e6335e113da999a7976_33568-4-toy-image-min.png"
                                alt=""
                                sizes="(max-width: 479px) 73vw, (max-width: 767px) 34vw, (max-width: 991px) 33vw, 12vw"
                                srcset="https://assets.website-files.com/5baddb6a35e113da0e9a4802/5bae0e6335e113da999a7976_33568-4-toy-image-min-p-500.png 500w, https://assets.website-files.com/5baddb6a35e113da0e9a4802/5bae0e6335e113da999a7976_33568-4-toy-image-min.png 1200w" />
                        </div>
                        <h6 class="product-card-heading">Pluto Yellow Dog</h6>
                        <div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D"
                            class="product-card-price">$ 28.00 USD</div>
                    </a></div>
                <div data-w-id="df75c36d-8d89-3a15-6c0d-6078372525bd" role="listitem"
                    class="product-card-wrapper w-dyn-item"><a href="cute-dog.html" class="product-card w-inline-block">
                        <div class="product-card-image-wrapper"><img
                                data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
                                src="../../assets.website-files.com/5baddb6a35e113da0e9a4802/5bae0f7a1f2da258291736c4_33908-7-plush-toy-file-min.png"
                                alt=""
                                sizes="(max-width: 479px) 73vw, (max-width: 767px) 34vw, (max-width: 991px) 33vw, 12vw"
                                srcset="https://assets.website-files.com/5baddb6a35e113da0e9a4802/5bae0f7a1f2da258291736c4_33908-7-plush-toy-file-min-p-500.png 500w, https://assets.website-files.com/5baddb6a35e113da0e9a4802/5bae0f7a1f2da258291736c4_33908-7-plush-toy-file-min.png 1200w" />
                        </div>
                        <h6 class="product-card-heading">Cute Dog</h6>
                        <div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D"
                            class="product-card-price">$ 24.00 USD</div>
                    </a></div>
                <div data-w-id="df75c36d-8d89-3a15-6c0d-6078372525bd" role="listitem"
                    class="product-card-wrapper w-dyn-item"><a href="wooden-tractor.html"
                        class="product-card w-inline-block">
                        <div class="product-card-image-wrapper"><img
                                data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
                                src="../../assets.website-files.com/5baddb6a35e113da0e9a4802/5baf5100ace69c1b26b33d2d_33476-9-wooden-toy-hd-min.png"
                                alt=""
                                sizes="(max-width: 479px) 73vw, (max-width: 767px) 34vw, (max-width: 991px) 33vw, 12vw"
                                srcset="https://assets.website-files.com/5baddb6a35e113da0e9a4802/5baf5100ace69c1b26b33d2d_33476-9-wooden-toy-hd-min-p-800.png 800w, https://assets.website-files.com/5baddb6a35e113da0e9a4802/5baf5100ace69c1b26b33d2d_33476-9-wooden-toy-hd-min.png 1200w" />
                        </div>
                        <h6 class="product-card-heading">Wooden Tractor</h6>
                        <div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D"
                            class="product-card-price">$ 22.00 USD</div>
                    </a></div>
                <div data-w-id="df75c36d-8d89-3a15-6c0d-6078372525bd" role="listitem"
                    class="product-card-wrapper w-dyn-item"><a href="mega-plush-toy.html"
                        class="product-card w-inline-block">
                        <div class="product-card-image-wrapper"><img
                                data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
                                src="../../assets.website-files.com/5baddb6a35e113da0e9a4802/5bae124e03ef144f2b4a9bef_33837-2-plush-toy-transparent-background-min.png"
                                alt=""
                                sizes="(max-width: 479px) 73vw, (max-width: 767px) 34vw, (max-width: 991px) 33vw, 12vw"
                                srcset="https://assets.website-files.com/5baddb6a35e113da0e9a4802/5bae124e03ef144f2b4a9bef_33837-2-plush-toy-transparent-background-min-p-500.png 500w, https://assets.website-files.com/5baddb6a35e113da0e9a4802/5bae124e03ef144f2b4a9bef_33837-2-plush-toy-transparent-background-min.png 1200w" />
                        </div>
                        <h6 class="product-card-heading">Mega Plush Toy</h6>
                        <div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D"
                            class="product-card-price">$ 38.00 USD</div>
                    </a></div>
                <div data-w-id="df75c36d-8d89-3a15-6c0d-6078372525bd" role="listitem"
                    class="product-card-wrapper w-dyn-item"><a href="rainbow-truck.html"
                        class="product-card w-inline-block">
                        <div class="product-card-image-wrapper"><img
                                data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
                                src="../../assets.website-files.com/5baddb6a35e113da0e9a4802/5baf51b7c8d851a73cc4544c_33649-6-toy-transparent-image-min.png"
                                alt=""
                                sizes="(max-width: 479px) 73vw, (max-width: 767px) 34vw, (max-width: 991px) 33vw, 12vw"
                                srcset="https://assets.website-files.com/5baddb6a35e113da0e9a4802/5baf51b7c8d851a73cc4544c_33649-6-toy-transparent-image-min-p-500.png 500w, https://assets.website-files.com/5baddb6a35e113da0e9a4802/5baf51b7c8d851a73cc4544c_33649-6-toy-transparent-image-min.png 1200w" />
                        </div>
                        <h6 class="product-card-heading">Rainbow Truck</h6>
                        <div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D"
                            class="product-card-price">$ 28.00 USD</div>
                    </a></div>
                <div data-w-id="df75c36d-8d89-3a15-6c0d-6078372525bd" role="listitem"
                    class="product-card-wrapper w-dyn-item"><a href="lift-machine.html"
                        class="product-card w-inline-block">
                        <div class="product-card-image-wrapper"><img
                                data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
                                src="../../assets.website-files.com/5baddb6a35e113da0e9a4802/5baf525bbf02340f30398cb3_33505-6-wooden-toy-clipart-min.png"
                                alt=""
                                sizes="(max-width: 479px) 73vw, (max-width: 767px) 34vw, (max-width: 991px) 33vw, 12vw"
                                srcset="https://assets.website-files.com/5baddb6a35e113da0e9a4802/5baf525bbf02340f30398cb3_33505-6-wooden-toy-clipart-min-p-500.png 500w, https://assets.website-files.com/5baddb6a35e113da0e9a4802/5baf525bbf02340f30398cb3_33505-6-wooden-toy-clipart-min.png 1200w" />
                        </div>
                        <h6 class="product-card-heading">Lift Machine</h6>
                        <div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D"
                            class="product-card-price">$ 24.00 USD</div>
                    </a></div>
                <div data-w-id="df75c36d-8d89-3a15-6c0d-6078372525bd" role="listitem"
                    class="product-card-wrapper w-dyn-item"><a href="happy-dog.html"
                        class="product-card w-inline-block">
                        <div class="product-card-image-wrapper"><img
                                data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
                                src="../../assets.website-files.com/5baddb6a35e113da0e9a4802/5baf5171ace69cb064b33d42_33388-1-wooden-toy-photos-min.png"
                                alt=""
                                sizes="(max-width: 479px) 73vw, (max-width: 767px) 34vw, (max-width: 991px) 33vw, 12vw"
                                srcset="https://assets.website-files.com/5baddb6a35e113da0e9a4802/5baf5171ace69cb064b33d42_33388-1-wooden-toy-photos-min-p-500.png 500w, https://assets.website-files.com/5baddb6a35e113da0e9a4802/5baf5171ace69cb064b33d42_33388-1-wooden-toy-photos-min.png 1200w" />
                        </div>
                        <h6 class="product-card-heading">Happy Dog</h6>
                        <div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D"
                            class="product-card-price">$ 30.00 USD</div>
                    </a></div>
                <div data-w-id="df75c36d-8d89-3a15-6c0d-6078372525bd" role="listitem"
                    class="product-card-wrapper w-dyn-item"><a href="grey-elephant.html"
                        class="product-card w-inline-block">
                        <div class="product-card-image-wrapper"><img
                                data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
                                src="../../assets.website-files.com/5baddb6a35e113da0e9a4802/5bae0db61f2da2a4ef173617_cute-plush-toy-stuffed-animal-47335-min.png"
                                alt=""
                                sizes="(max-width: 479px) 73vw, (max-width: 767px) 34vw, (max-width: 991px) 33vw, 12vw"
                                srcset="https://assets.website-files.com/5baddb6a35e113da0e9a4802/5bae0db61f2da2a4ef173617_cute-plush-toy-stuffed-animal-47335-min-p-500.png 500w, https://assets.website-files.com/5baddb6a35e113da0e9a4802/5bae0db61f2da2a4ef173617_cute-plush-toy-stuffed-animal-47335-min.png 1200w" />
                        </div>
                        <h6 class="product-card-heading">Grey Elephant</h6>
                        <div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D"
                            class="product-card-price">$ 45.00 USD</div>
                    </a></div>
            </div>
        </div>
    </div>
</div>
<div class="section no-padding-top wf-section">
    <div class="wrapper side-paddings">
        <div data-w-id="e89551e9-b5ae-51a6-c418-02c90497790c" class="subscribe">
            <div class="subscribe-info">
                <div class="subscribe-icon"><img
                        src="https://assets.website-files.com/5badda2935e11303a89a461e/5baf56dcace69cfd39b34f7a_paperplane-icon-white.svg"
                        alt="" /></div>
                <h4>Subscribe to our newsletter<br />&amp; get <span class="text-green">10% discount!</span></h4>
            </div>
            <div class="subscribe-form-wrapper w-form">
                <form id="wf-form-Subscribe-Form" name="wf-form-Subscribe-Form" data-name="Subscribe Form"
                    class="subscribe-form"><input type="email" class="input subscribe-input w-input" maxlength="256"
                        name="email-2" data-name="Email 2" placeholder="Enter your email address" id="email-2"
                        required="" /><input type="submit" value="Subscribe" data-wait="Please wait..."
                        class="button w-button" /></form>
                <div class="form-success w-form-done">
                    <div>Thank you! Your submission has been received!</div>
                </div>
                <div class="form-error w-form-fail">
                    <div>Oops! Something went wrong while submitting the form.</div>
                </div>
            </div>
        </div>
    </div>
</div>