/* Home */
#homePage .navigation {
  padding-bottom: 0px !important;
}

/* Form */
/* Show err */
.woocommerce-form {
  position: relative
}
.woocommerce-form .errorInput {
  right: 1.25em;
  top: 10px;
  color: var(--danger)
}
/* END Show err */
:root{
    --danger: #a94442;
}